header{
    width: 80%;
    margin: 0 auto;
}

.burguer{
    display: none;
}

.nav-header{
    display: flex;
    justify-content: space-between;
}

.nav a{
    display: inline;
    font-size: 2rem;
}

a{
    text-decoration: none;
}

.botao{
    display: block;
    padding: 16px 20px;
    background-color: #fbe850;
    color: black;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 10px;
}

.botao:hover{
    background-color: #faed88;
}

.container-hero{
    width: 70%;
    margin: 0;
}

.container-hero .title-hero{
    font-size: 6.5rem;
}

.container-hero .description-hero{
    font-size: 2.4rem;
}

.section-logos{
    width: 80%;
    margin: 0 auto;
}

.container-logos{
    display: flex;
    justify-content: space-between;
}

.container-articles{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
}

.section-about{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 0 auto;
}

.contact div a:hover{
    background-color: #faed88;
}

footer{
    width: 80%;
    margin: 0 auto;
    padding: 15px;
}